:root {
  --main-color: #1c1c1c;
  --second-color: #ffffff;
  --title-color: #343434;
  --second-bg: #f7f7f7;
}
html {
  scroll-padding-top: 72px;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-title {
  font-weight: 900;
  font-size: 40px;
  color: var(--title-color);
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  text-transform: capitalize;
  z-index: 1;
}
.main-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: url(../Images/dots.png);
}
/* Start Navbar */
.navbar {
  transition: all 0.5s ease;
  padding: 30px 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .nav-link {
  position: relative;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--scroll, white);
  transition: all 1s;
}
.navbar-nav .active::after {
  width: 100%;
}
.color-scrolled {
  color: var(--main-color) !important;
}
.nav-scrolled {
  background-color: var(--second-color);
  padding: 15px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 768px) {
  .navbar .container {
    max-width: 100%;
  }
  .navbar .navbar-brand,
  .nav-bar .navbar-toggler {
    margin: 0 20px;
  }
  .navbar .navbar-nav {
    background-color: white;
    padding: 15px 0;
    margin-top: 5px;
  }
  .navbar-nav .nav-item {
    padding: 10px !important;
  }
  .navbar-nav .nav-link {
    color: var(--main-color) !important;
    text-align: center;
    width: fit-content;
    margin: auto;
  }
}
/* End Navbar */
/* Start Hero */
header {
  height: 100vh;
  background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.65),
      hsla(0, 0%, 0%, 0.65)
    ),
    url(../Images/bg.jpg);
  background-size: cover;
}
header .text h1 {
  font-size: 50px;
}
header .text h2 {
  font-size: 65px;
}
header .text ul li {
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  header .text h2 {
    font-size: 35px;
  }
}
/* End Hero */
/* Start About */
.about .about-img {
  position: relative;
}
.about .about-img::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 80%;
  height: 80%;
  background-image: url(../Images/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.about .about-title {
  color: var(--title-color);
  margin-bottom: 5px;
}
.about .about-sub-title {
  letter-spacing: 2px;
  font-size: 14px;
  color: #999999;
}
.about .info {
  font-size: 17px;
  color: #748182;
  line-height: 1.6;
}
.about .progress {
  height: 28px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.about .progress .progress-bar {
  background-color: var(--main-color);
  position: relative;
  font-size: 18px;
}
.about .progress .progress-bar span span {
  position: absolute;
  right: 5px;
}
.about .links a {
  margin-right: 5px;
  border: 1px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.about .links a:first-child {
  background-color: var(--main-color);
  color: var(--second-color);
}
.about .links a:first-child:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
.about .links a:last-child {
  color: var(--main-color);
}
.about .links a:last-child:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
@media (max-width: 768px) {
  .about {
    padding: 80px 0;
  }
  .about .about-img {
    margin-bottom: 60px;
  }
}
/* End About */
/* Start Services */
.services {
  background-color: var(--second-bg);
}
.services .card {
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}
.services .card .card-icon {
  width: 80px;
  height: 80px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 30px;
  transition: all 0.5s ease;
}
.services .card .card-icon:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
.services .card .card-body .card-text {
  font-family: "Montserrat", sans-serif;
  word-spacing: 2px;
}
.services .card .card-body .card-title {
  color: var(--title-color);
}
/* End Services */
/* Start Portfolio */
.portfolio .nav-tabs,
.portfolio .nav-tabs .nav-link.active,
.portfolio .nav-tabs .nav-link:hover {
  border-color: transparent;
}
.portfolio .nav-link {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 15px;
}
.portfolio .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.5s;
}
.portfolio .active::after {
  width: 100%;
}
.portfolio .port-img {
  position: relative;
}
.portfolio .port-img .layer {
  position: absolute;
  top: 30px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: var(--second-color);
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio .port-img:hover .layer {
  top: 5px;
  opacity: 0.9;
}
.portfolio .port-img .layer h5 {
  color: var(--title-color);
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  transform: translateY(-15px);
  transition: all 0.7s ease;
}
.portfolio .port-img:hover .layer h5 {
  transform: translateY(0);
}
.portfolio .port-img .links i {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 50%;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.portfolio .port-img .links i:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
/* End Portfolio */
/* Start Testimonials */
.testimonials {
  background-color: var(--second-bg);
}
.testimonials .carousel-inner .carousel-item .slider {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .carousel-inner .carousel-item img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.testimonials .carousel-inner .carousel-item p {
  word-spacing: 2px;
  line-height: 1.6;
  color: #748182;
}
.testimonials .carousel-indicators {
  bottom: -30px;
}
.testimonials .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d6d6;
  display: block;
}
.testimonials .carousel-indicators [data-bs-target]:hover,
.testimonials .carousel-indicators [data-bs-target].active {
  background-color: #869791;
}
.numbers .content {
  color: var(--title-color);
}
.numbers .content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.numbers .content p {
  font-size: 15px;
  color: #748182;
  font-weight: 600;
}
/* End Testimonials */
/* Start Team */
.team {
  background-color: var(--second-bg);
}
.team .box .image-box {
  position: relative;
  overflow: hidden;
}
.team .box .image-box img {
  transition: all 0.5s ease;
}
.team .box .image-box:hover img {
  transform: scale(1.2);
}
.team .box .image-box .layer {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: var(--second-color);
  transition: all 0.5s ease;
  opacity: 0;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.team .box:hover .image-box .layer {
  transform: rotateY(360deg);
  opacity: 0.9;
}
.team .box .image-box .layer .icons i {
  width: 45px;
  height: 45px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--second-color);
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.team .box .image-box .layer .icons i:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
.team .box .text {
  background-color: #5b5b5b;
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  border-radius: 0 0px 8px 8px;
}
/* End Team */
/* Start Contact */
.contact i {
  width: 70px;
  height: 70px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 30px;
  transition: all 0.5s ease;
  margin: auto;
}
.contact i:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
.contact p {
  font-size: 16px;
  color: #748182;
}
.contact input,
.contact textarea {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  outline: none;
}
.contact a {
  display: block;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  padding: 10px 40px;
  border-radius: 5px;
  width: fit-content;
  transition: all 0.5s ease;
  background-color: var(--main-color);
  color: var(--second-color);
}
.contact a:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
/* End Contact */
/* Start Footer */
footer {
  background-color: #1c1c1c;
  text-align: center;
  color: #748182;
  word-spacing: 2px;
}
/* End Footer */
